@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#main::-webkit-scrollbar {
  color: black;
  width: 0.2rem;
}
